[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
black = "*"
alembic = "*"
sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"

[scripts]
dev = "flask run --host localhost --port 8000"
