[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
black = "*"
alembic = "*"
sqlalchemy = "*"
psycopg2 = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"

[scripts]
dev = "uvicorn main:app --reload"
# pipenv run makemigrations -m "create todo table"
makemigrations = "alembic revision --autogenerate"
migrate = "alembic upgrade head"
migratedown = "alembic downgrade -1"
